@font-face {
    font-family: "Tahoma";
    src: url("../fonts/Tahoma.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Tahoma";
    src: url("../fonts/Tahoma-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

