* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: auto;
  font-size: 15px;
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  background: var(--white-color);
}

.site__wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  min-height: 100svh;
  overflow: hidden;
  margin: auto;
  position: relative;

  &:before {
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/background-images/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    z-index: -1;
  }
}

.pin__page {
  .modal__title {
    font-size: 18px;
    text-align: justify;
    margin-bottom: 21px;
  }
  .modal__wrapper {
    padding: 29px 23px;
  }
  .modal__form {
    padding: 0 4px;
  }
}

.container {
  width: 1152px;
  height: 100%;
  margin: 0 auto;
}

.modal {
  position: fixed;
  height: 150vh;
  height: 150svh;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
  background-color: var(--overlay-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 33px;
}

.site__main {
  height: calc(100vh - 38px);
  height: calc(100svh - 38px);
}

.modal__wrapper {
  width: 100%;
  max-width: 348px;
  border-radius: 20px;
  background: var(--white);
  padding: 29px 27px;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: normal;
  color: var(--text-color);
  margin-bottom: 22px;
}

.modal__text {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-align: justify;
  color: var(--text-color);
  margin-bottom: 39px;
}

.modal__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 29px;
}

.modal__usb {
}

.modal__battery {
}

.modal__form {
  width: 100%;
  height: auto;
}

.modal__input-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  position: relative;
}

.modal__input {
  width: 100%;
  height: 46px;
  text-align: center;
  border: 1px solid var(--btn-static-color);
  border-radius: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.6;
  color: var(--gray);
  outline: none;
  transition: 0.3s ease;

  &:disabled {
    background: var(--white);
    color: var(--btn-disabled-color);
    border-color: var(--btn-disabled-color);
  }

  &.error {
    border-color: var(--red);
  }
}

.label__phone {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  color: var(--red);
  position: absolute;
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  display: none;

  &.error {
    display: block;
  }
}

.modal__submit {
  width: 100%;
  height: 46px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.6;
  text-align: justify;
  color: var(--white);
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  background: var(--btn-static-color);
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    z-index: 2;
  }

  &:before {
    content: "";
    box-sizing: border-box;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25px;
    transition: 0.3s ease;
  }

  &:hover {
    &:before {
      width: 100%;
      height: 100%;
      background: var(--btn-hover-color);
    }
  }

  &:active {
    &:before {
      width: 100%;
      height: 100%;
      background: var(--btn-press-color);
    }
  }

  &:disabled {
    background: var(--btn-disabled-color);
    cursor: auto;

    &:before {
      display: none;
    }
  }
}

.footer {
  padding-bottom: 50px;
}

.text {
  font-weight: 400;
  font-size: 11px;
  line-height: 1.09091;
  text-align: justify;
  color: var(--secondary-text-color);
}

@media (max-width: 1280px) {
  .container {
    width: 738px;
  }
  .site__wrapper:before {
    background-image: url(../img/background-images/bg-laptop.png);
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .site__wrapper:before {
    background-image: url(../img/background-images/bg-tablet.png);
  }
}

@media (max-width: 414px) {
  .site__wrapper:before {
    background-image: url(../img/background-images/bg-iphone-11.png);
  }
}

@media (max-width: 375px) {
  .site__wrapper:before {
    background-image: url(../img/background-images/bg-iphone-8.png);
  }
  .modal {
    padding: 23px;
  }
  .modal__title {
    font-size: 18px;
    margin-bottom: 21px;
  }
  .modal__text {
    font-size: 18px;
    margin-bottom: 26px;
  }
  .modal__icon {
    gap: 26px;
  }
  .modal__usb {
    width: 55px;
    height: auto;
  }
  .modal__battery {
    width: 45px;
    height: auto;
  }
}

@media (max-width: 320px) {
  .site__wrapper:before {
    background-image: url(../img/background-images/bg-iphone-SE.png);
  }
  .modal__wrapper {
    padding: 20px 23px;
  }
  .modal {
    padding: 12px;
  }
  .modal__title {
    font-size: 17px;
    margin-bottom: 15px;
  }
  .modal__text {
    font-size: 16px;
    margin-bottom: 7px;
  }
  .modal__icon {
    gap: 22px;
  }
  .modal__usb {
    width: 46px;
    height: auto;
  }
  .modal__battery {
    width: 37px;
    height: auto;
  }
  .modal__input {
    height: 39px;
    font-size: 18px;
  }
  .modal__submit {
    height: 39px;
    font-size: 18px;
  }
}

@media (orientation: landscape) and (max-width: 896px) {
  .site__wrapper:before {
    background-image: url(../img/background-images/bg-iphone-8-horiz.png);
  }
  .modal__wrapper {
    max-width: 545px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 37px;
  }
  .modal__form {
    width: 227px;
    flex-shrink: 0;
  }
  .modal__title {
    font-size: 16px;
    margin-bottom: 17px;
  }
  .modal__text {
    font-size: 16px;
    margin-bottom: 0;
  }
  .modal__usb {
    width: 46px;
    height: auto;
  }
  .modal__battery {
    width: 37px;
    height: auto;
  }
  .modal__input {
    height: 39px;
    font-size: 18px;
  }
  .modal__submit {
    height: 39px;
    font-size: 18px;
  }
  .pin__page .modal__title {
    margin-bottom: 0px;
  }
}

@media (orientation: landscape) and (max-width: 568px) {
  .site__wrapper:before {
    background-image: url(../img/background-images/bg-iphone-SE\ horiz.png);
  }
  .pin__page .modal__title {
    margin-bottom: 0px;
  }
}
