:root {
    --font-family: "Tahoma", sans-serif;
    --white: #fff;
    --red: #fa0101;
    --gray: #757575;
    --text-color: #000;
    --secondary-text-color: #3e3e3e;
    --btn-static-color: #3b82f7;
    --btn-hover-color: rgba(0, 0, 0, 0.2);
    --btn-press-color: rgba(0, 0, 0, 0.4);
    --btn-disabled-color: #bdbebf;
    --overlay-color: rgba(0, 0, 0, 0.3);
}